<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Open+Sans:400,700|Staatliches")
        <script src="https://kit.fontawesome.com/b40c70f603.js" crossorigin="anonymous"></script>
        link(rel="stylesheet", href="/css/style.css")
        title #{titulo} | #{pagina}
    body(class=clase)
        include includes/header
        block slider
        block contenido
        include includes/footer